{
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Warning"
    }
  },
  "UseAzureStorage": false,
  "domain": "[Domain Name]",
  "ConnectionStrings": {
    "Spin": "[Database Name]"
  }
}
